body{
	background-image: url("https://cdn.pixabay.com/photo/2020/02/15/16/09/loveourplanet-4851331_960_720.jpg");
width: 1000px;
height: 900px;
background-position: 200px -0px;
}

h1{
	color: #81F781;
	text-align: center;
	font-style:italic; 
}
h3{
	color: #C8FE2E;
}
p{
	color: #EFFBF5;
	font color: white;

}