body {
  background-image: linear-gradient(#F6F9F3,#F4F6F6,#D7DBDD);
}
h1{
	color:#010957;
	text-align: center;
}
p{
	font-family: 'Times New Roman', Times, serif;
	color: maroon;
}
h2{
	color: blue;
	font-family: 'Times New Roman', Times, serif;
}
h3{
	color: magenta;
	font-family: 'Times New Roman', Times, serif;
}

h4:hover{
	background-color: rgb(224, 213, 53);

}